
.topbg {
vertical-align: top; 
height: 60px; 
width: 800px;
background-image: url('./Art/800x60topdropshadow.png') ;
background-repeat: no-repeat  ;
background-position: top left ; 
}

.middlebg {
vertical-align: top; 
background-image: url('./Art/800x10middledropshadow.png') ;
background-repeat: repeat-y ;
background-position: top left ;
}

.bottombg {
vertical-align: top; 
height: 60px; 
width: 800px;
background-image: url('./Art/800x60bottomdropshadow.png') ;
background-repeat: no-repeat  ;
background-position: top left ; 
}

.leftmargin {
}

.rightmargin {
}

.copyfooter {
}

